# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
setup.py
data.txt
prompt_anki.txt

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
.DS_Store
anki_vector_store/
anki_matrix.pkl
anki_notes.pkl
anki_vectorizer.pkl